html {
    margin: 0;
    font-family: "Arial", serif;
    background-color: #FFF5F4;
    height: 100%;
}

body {
    margin: 1em 2em;
    display: grid;
    grid-template-rows: 40px auto auto;
    grid-gap: 25px;
}

h5, h4{
    padding: 5px 10px;
    margin: 0;
}

.card-background {
    padding: 16px;
    background: #FCE8E8;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-grid-1 {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto 1fr 1fr auto;
}

.btn-0 {
    padding: 8px 16px;
    border-radius: 8px;
    border-color: #FCE8E8;
    font-size: medium;
    font-weight:bold;
    color: #000000;
    width: 160px;
}

.btn-1 {
    padding: 8px 16px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-color: #FCE8E8;
    font-size: medium;
    font-weight:bold;
    color: #000000;
    width: 160px;
    margin: 0;
    display: inline-block;
    box-sizing:border-box;
}

.input-0 {
    padding: 4px 4px;
    width: calc(30% - 160px);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-color: #FCE8E8;
    margin: 0;
    display: inline-block;
    box-sizing:border-box;
    outline: none;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.list_invoices{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

textarea:focus, input:focus {
    outline: none;
}

label {
    margin: 2px 4px;
    font-size: 14px;
}

input {
    margin: 2px 4px;
}

.input-button {
    display: flex;
    flex-direction: row;
}
.input_label {
    display: flex;
    flex-direction: column;
    border: .1em solid black;
    border-radius: 8px;
    margin: 6px;
    height: 50px;
}
.input_label input, label{
    background: none;
    border: none;
}

.submit-btn{
    display: flex;
    margin-left: auto;

}
.submit-btn button{
    padding: 8px 16px;
    border-radius: 8px;
    border-color: white;
    font-size: large;
    font-weight: bolder;
    color: #000000;
}
.invoice_display{
    justify-items: center;
    justify-content: center;
}

.invoice_display li{
    display: inline;
    padding: 20px 10px;
    margin: 40px;
    width: 20%;
}